body, html {
    height: 100%;
    position: relative;
    /* opacity: 0.7; */

    background-image: url("bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    color: red;
    font-family: "Sacramento";
    font-weight: bolder;
    font-size: 40px;
    display: inline;
    padding: 2px;
}

.navbar{
    margin: 0;
    padding: 0;
    /* background-color: #ffffff40; */
}

.navbar a:hover, .logo:hover{
    color: #F56A79;
    background-color: #fff8;
    border-radius: 25%;
    padding: 5px;
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    color: red;
    font-family: "Raleway";
    font-size: 1.5rem;
    font-weight: bold;
}

.container-fluid{
    padding: 5% 30%;
    position: absolute;
}

.card{
    background-color: #fff5;
}

.card-header h3{
    text-align: center;
    font-family:"Merriweather";
    color: red;
} 

.card-body{
    padding-bottom: 0;
    background-color: #fff1;
}

.card-body p{
    text-align: right;
    color: #fff8;
}

.row{
    padding: 15px;
}

.btn{
    margin: 20px 0;
}

.form-control,.form-control:focus{
    border: red 3px solid;
    background-color: #fff1;
}

.form-control::placeholder,.form-control:focus::placeholder{
    color: #fff9;
}

.card-body a{
    color: red;
}

.card-body a:hover{
    color: rgb(204, 20, 20);
}



